html, body, .full {width:100%; height:100%;  float: left; overflow:auto; position:relative; padding: 0px;  margin: 0px;}
.free {width:100%; display:inline-block; position:relative; overflow:auto}
* {font-family:Helvética;scroll-behavior: smooth; box-sizing:border-box; margin:0px;padding:0px }
body{background-images:linear-gradient(to right,#fff,#fcfcfc,#dcdcdc);color:#000;overflow:hidden; font-size:0.6cm;background:#fff}    
 svg{vertical-align:middle;height:1em;display:inline-block}
 span{vertical-align:middle;display:inline-block}
 a{text-decoration:none;color:#000}
 
 .tope{font-weight:700;position:absolute;top:0px;left:0px;font-size:0.8cm;color:#fff;padding:0.1cm;background-image:linear-gradient(to left, #607d8b, #546e7a, #37474f);z-index:10;width:100%;box-shadow:0 0 10px #000}
 #root{padding:1.5cm 0 0 0}

.offer{position:relative;z-index:1;font-size:0.35cm;text-align:left;font-weight:300;float:left;vertical-align:middle;padding:0px 6px;margin:10px 0}
.offer img{width:95%;border-radius:10px;display:inline-block;vertical-align:middle}
.offer .box{width:100%;display:inline-block;vertical-align:middle}
     @keyframes fadeIn {
         from {opacity:0}
         to {}
     }

.portada{width:100%;display:inline-block;vertical-align:middle}
.portada img{width:2.5cm;display:inline-block;vertical-align:middle}
.portada div{width:calc( 100% - 3cm);display:inline-block;vertical-align:middle;padding:0 0.2cm}
.portada p{font-size:0.2cm}

 .detalle{animation-duration:0.4s; animation-name: fadeIn; height: 80%; width:80%; max-width: 500px; max-height: 480px;background-color: rgba(255,255,255,1); background-image:linear-gradient(to right,#fcfcfc,#fff,#dcdcdc);position: absolute; transform: translate(-50%,-50%); top: 50%; left: 50%; border-radius: 10px; box-shadow: 0 0 40px rgba(8,7,16,0.6); padding: 20px 15px;z-index:10;overflow:auto;vertical-align:middle;display:inline-block}
 .detalle p{padding:0.1cm;font-weight:200}
 .pk{vertical-align:middle;width:48%;padding:0.2cm;display:inline-block}
 .pkImg{max-height:90%;vertical-align:middle;width:48%;border-radius:10px;display:inline-block}

.abs{position:absolute;left:0;top:0;z-index:10}
.capa{animation-duration:0.5s; animation-name: fadeIn;position:absolute;top:0px; left:0px; z-index:10;background:rgba(0,0,0,0.5)}
.form{color:#000;animation-duration:0.5s; animation-name: fadeIn;  max-height: 90%; width:95%; max-width: 380px; background-color: rgba(255,255,255,1); position: absolute; transform: translate(-50%,-50%); top: 50%; left: 50%; border-radius: 5px; border: 3px solid rgba(255,255,255,0.1); box-shadow: 0 0 40px rgba(8,7,16,0.6); padding: 20px 15px;z-index:18;overflow:auto;font-size:0.4cm}
.form h3{ font-size: 32px; font-weight: 500; line-height: 1em; text-align: center;}
.form p{ font-weight: 300;text-align: center;}
.form *, .input, .button, .button2{ font-family: 'Poppins',sans-serif; letter-spacing: 0.5px; outline: none; border: none;}
.form label{ display: block; margin-top: 15px; font-size: 16px; font-weight: 500;}
.form input, .input{ display: inline-block; width: 100%; background-color: rgba(0,0,0,0.09); border-radius: 3px;  padding: 10px; margin: 2px 0;font-size: 15px; font-weight: 500;}
::placeholder{ color: gray;}
.form button, .button{ margin-top: 2px; width: 100%; background-image:linear-gradient(to left, #607d8b, #546e7a, #37474f); color: #fff;box-shadow:0 0 3px #111; padding: 15px; font-size: 18px; font-weight: 600; border-radius: 5px;cursor: pointer;}

 #tool {padding:0.1cm}
 #tool button{ margin: 1px;outline: none; border: none; background-image:linear-gradient(to top, darkblue,blue); color: #fff; padding: 3px 8px; font-size: 0.3cm; font-weight: 600; border-radius: 3px;cursor: pointer;}

 #recorte{text-align:center;padding:2cm 0.5cm;font-size:1cm;position:absolute;top:0px;left:0px;z-index:50;background:#fff}

.newOffer .img{width:96px;height:128px;border-radius:5px;float:right;margin:2px 0px}
.newOffer input{width:calc( 100% - 100px );float:left}
.perfil {width:100%;padding:0.2cm;text-align:right}
.perfil *{display:inline-block;font-size:0.5cm;vertical-align:middle;padding:0.2cm}

.li{text-align:left;overflow:hidden;font-size:0.4cm;width:100%;vertical-align:middle;display:inline-block;padding:0.2cm}
.li img{width:2cm;border-radius:5px;display:inline-block;vertical-align:middle}
.li div{width:calc( 100% - 2.5cm );display:inline-block;vertical-align:middle}
.li div p{width:100%;text-align:left;}
.li div pre{width:100%;font-size:0.2cm;color:blue}

.capa{animation-duration:0.5s; animation-name: fadeIn;position:absolute;top:0px; left:0px; z-index:10;background:rgba(0,0,0,0.5)}
@media(max-width:600px){
    .detalle{font-size:0.4cm;max-width: 300px;}
    .pk{width:100%;}
    .pkImg{width:100%;max-height:80%}
    
}
